    <header class = "header">
        <img src = "MARCHEDEVIENS_BLANC.png">
    </header>

    <form class="form">
        <label for="mail">Email</label>
        <input type = "text" id = "mail">
        <br>
        <label for="mail">Objet:</label>
        <input type = "text" id = "subject">
        <br>
        <br>
        <label for="mail">Entrez votre message ici:</label>
        <br>
        <input type = "text" id = "message" class = "message_box">
        <br>
        <br>
        <input type = "submit" value = "Submit" >
    </form>
