<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <header>
        <a href = ...\res\MARCHEDEVIENS_BLANC.png></a>
        <img src = "MARCHEDEVIENS_BLANC.png">

       
        


    </header>
    <form class="form">
        <input type = "text" id = "mail">
        <br>
        <input type = "text" id = "subject">
        <br>
        <input type = "text" id = "message">
        <br>
        <input type = "submit" value = "Submit">
    </form>

    <img>
    
</body>
</html>

