.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: flex-end;
    background-color: green;
}

.article{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 60%;
    border: 5px solid black;
    margin-top: 8vh;
}
