<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
<main class="main">
    <section class="article">
        <h3>lorem</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim architecto voluptates pariatur minima doloremque nemo molestiae delectus recusandae alias.</p>
        <picture><img src="../../../res/offres/750x500.svg" alt=""/></picture>
    </section>

    <section class="article">
        <h3>lorem</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim architecto voluptates pariatur minima doloremque nemo molestiae delectus recusandae alias.</p>
        <picture><img src="../../../res/offres/750x500.svg" alt=""/></picture>
    </section>

    <section class="article">
        <h3>lorem</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim architecto voluptates pariatur minima doloremque nemo molestiae delectus recusandae alias.</p>
        <picture><img src="../../../res/offres/750x500.svg" alt=""/></picture>
    </section>
    
</main>
</body>
</html>
