.vs/MarcheEtDevient
MarcheEtDevient.Server/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
marcheetdevient.client/.vscode
marcheetdevient.client/.editorconfig
.vs/ProjectEvaluation
.vs
