<p>apropos works!</p>
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Marcheetdevient</title>
  <link rel="stylesheet" href="apropos.component.css">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="icone" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  



  <header>
    <nav> 
       <div id="logo">
        <a href="#">
        <img src="../logo.png" alt="logo"></a>
        </div>
      
        <ul>
          <li><a href="#">menu</a></li> 
          <li><a href="#">se connecter</a></li>
        </ul>
    
    </nav>   
  </header>

  
  <section id="Histoire">
    <h2>
        Marche et Deviens: le Concept
    </h2>
   
    <div class="flex-container">
      <img class ="illustrationHistoire" src="../Dim-Rando.jpg"/></div>
      <div style="flex-basis: 300px" class="paraHistoire">Lorem ipsum dolor sit, amet consectetur adipisicing elit. At nam recusandae, doloremque consequatur blanditiis esse adipisci aut libero deserunt? Praesentium ipsa iure ipsam rem officiis!
      </div>
    </div>
      <h2>
        Notre élevage de Malamutes
    </h2>
    </div>
      <div class="flex-container">
      <img class ="illustrationHistoire" src="../elevage.jpg"/></div>
      <div style="flex-basis: 300px" class="paraHistoire">Lorem ipsum dolor sit, amet consectetur adipisicing elit. At nam recusandae, doloremque consequatur blanditiis esse adipisci aut libero deserunt? Praesentium ipsa iure ipsam rem officiis!

      </div>
  </section>

  <footer>
    <div id="copyrightEtIcons">
      <div id="copyright">
        <span>© Marche&Deviens-Tous droits réservés. </span>
      </div>
      <div id="icons">
        <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
        <a href="http://www.facebook.fr"><i class="fa fa-facebook"></i></a>
       
      </div>
    </div>
  </footer>


