<main class="conteuneur_commande_admin">
    <section class="carte_commande_admin">
        <h3>Photo</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, omnis.</p>
        <button class="list">Liste</button>
        <button class="ajout">Ajouter</button>
        <button class="modifier">Modifier</button>
        <button class="suprimer">Suprimer</button>
    </section>

    <section class="carte_commande_admin">
        <h3>Video</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, omnis.</p>
        <button class="list">Liste</button>
        <button class="ajout">Ajouter</button>
        <button class="modifier">Modifier</button>
        <button class="suprimer">Suprimer</button>
    </section>

    <section class="carte_commande_admin">
        <h3>Post actus</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, omnis.</p>
        <button class="list">Liste</button>
        <button class="ajout">Ajouter</button>
        <button class="modifier">Modifier</button>
        <button class="suprimer">Suprimer</button>
    </section>

    <section class="carte_commande_admin">
        <h3>Sejour Sur Reservation</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, omnis.</p>
        <button class="list">Liste</button>
        <button class="ajout">Ajouter</button>
        <button class="modifier">Modifier</button>
        <button class="suprimer">Suprimer</button>
    </section>
</main>
