#Galerie{
    background-color: rgb(95, 115, 104);
    
    padding: 20vh 0px 100px 0px;
    
    

}

.flexCentre{
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 45% ;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.flex-container{
    padding: 10px;
    display: flex;
    justify-items: center;
}

.photo{
    margin: 30px;
    width: 200px;
    height: 200px;

}


footer{
    background-color:  rgb(156, 193, 173);
    padding: 20px 0 10px 0;
    text-align: center;

}
#copyrightEtIcons{
    display: flex;
    margin-bottom: 20px;
    padding:0 10%;
}

#copyright{
    width: 50%;
    text-align: left;
    color:rgb(61, 64, 67);
}
#icons{
    width: 50%;
    text-align: right;
}
#icons a{
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3 em;
    color: rgb(61, 64, 67);
}





