<p>galerie works!</p>
<!doctype html>
<html lang="en">

  <meta charset="utf-8">
  <title>Marcheetdevient</title>
  <link rel="stylesheet" href="style.css">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="icone" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  



  <header>
    <nav> 
        <ul>
        <li id="logo">
        <a href="#">
        <img src="../logo.png" alt="logo"></a>
        </li>
          <li><a href="#">menu</a></li> 
          <li><a href="#">se connecter</a></li>
        </ul>
    
    </nav>


    <section id="Galerie">
      <div>
      <h2>
          GALERIE 
      </h2>
      <h3> Récupérez vos photos</h3>
      </div>
      <div class="flexCentre">
        <div><input type="search" placeholder="photo"></div>
        <div><button>Rechercher</button></div>
      </div>

      <div class="flex-container">
        <img class ="photo" src="../Pic1.jpg"</div>
        <div style="flex-basis: 300px"></div>
        <img class ="photo" src="../pic2.jpg"</div>
        <div style="flex-basis: 300px"></div>
      </div>
      <div class="flex-container">
        <img class ="photo" src="../pic3.jpg"</div>
        <div style="flex-basis: 300px"></div>
        <img class ="photo" src="../pic4.jpg"</div>
        <div style="flex-basis: 300px"></div>
        
      </div>
      <div class="flex-container">
        <img class ="photo" src="../pic5.jpg"</div>
        <div style="flex-basis: 300px"></div>
        <img class ="photo" src="../pic6.jpg"</div>
        <div style="flex-basis: 300px"></div>
        
      </div>

    </section>
   
    
    
      

      <footer>
        <div id="copyrightEtIcons">
          <div id="copyright">
            <span>© Marche&Deviens-Tous droits réservés. </span>
          </div>
          <div id="icons">
            <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
            <a href="http://www.facebook.fr"><i class="fa fa-facebook"></i></a>
           
          </div>
        </div>
      </footer>
   
