<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
<main class="main_flex">
    <section class="carte_offre droite">
        <h3>lorem</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim architecto voluptates pariatur minima doloremque nemo molestiae delectus recusandae alias.</p>
        <picture><img src="../../../res/offres/750x500.svg" alt=""/></picture>
    </section>
    <section class="carte_offre gauche">
        <h3>lorem</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim architecto voluptates pariatur minima doloremque nemo molestiae delectus recusandae alias.</p>
        <picture><img src="../../../res/offres/750x500.svg" alt=""/></picture>
    </section>
    <section class="carte_offre droite">
        <h3>lorem</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim architecto voluptates pariatur minima doloremque nemo molestiae delectus recusandae alias.</p>
        <picture><img src="../../../res/offres/750x500.svg" alt=""/></picture>
    </section>
</main>
</body>
<footer>
    <div id="copyrightEtIcons">
        <div id="copyright">
            <br><span>© Marche&Deviens-Tous droits réservés. </span>
        </div>
        <div class="icons" id="icons">
            <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
            <a href="http://www.facebook.fr"><i class="fa fa-facebook"></i></a>

        </div>
    </div>
</footer>
</html>
